$header-height: 80px;
$footer-height: 100px;
$main-vertical-padding: calc(#{$header-height} + 1rem) 0
	calc(#{$footer-height} + 1rem) 0;

body {
	height: 100vh;
	display: flex;
	flex-direction: column;
	margin: 0;
	padding: 0;
}

main {
	flex: 1;
	padding: $main-vertical-padding;
}

header,
footer {
	width: 100%;
	position: fixed;

	background: #37414b;
	color: smokewhite;

	display: flex;
	align-items: center;
}

header {
	height: #{$header-height};
}

footer {
	height: #{$footer-height};
}
