$header-height: 80px;
$footer-height: 100px;
$main-vertical-padding: calc(#{$header-height} + 1rem) 0
	calc(#{$footer-height} + 1rem) 0;

body {
	height: 100vh;
	display: flex;
	flex-direction: column;
	margin: 0;
	padding: 0;
}

main {
	flex: 1;
	margin: $header-height 0 $footer-height 0;
}

header,
footer {
	width: 100%;
	position: fixed;

	background: #37414b;
	color: white;

	display: flex;
	justify-content: center;
	align-items: center;
}

header {
	height: #{$header-height};
	top: 0;
}

footer {
	height: #{$footer-height};
	bottom: 0;
}

.menuItems {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
	.listItem {
		display: flex;
		align-items: center;
		gap: 8px;
		width: 90%;
		margin: 0 auto;
	}
}
