.digitalMenu {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
	align-items: center;
	margin: 0 auto;

	h1 {
		text-align: center;
	}
	h3 {
		padding-left: 1rem;
	}

	hr {
		width: 94%;
		margin-bottom: 2rem;
	}

	.hours {
		font-size: smaller;
		margin: 0 auto;

		p {
			display: flex;
			justify-content: space-between;
			gap: 2rem;
			margin: 0;
		}
	}
}

.menu-link-container {
	width: 60%;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
}

.menu-link {
	width: 150px;
	height: 150px;
	font-size: 2rem;

	color: hsl(200, 51%, 35%);
	border: 3px solid gray;
	border-radius: 5px;
	text-decoration: none;

	display: flex;
	justify-content: center;
	align-items: center;
}

.menu-link:hover {
	color: aliceblue;
	background-color: hsl(200, 51%, 35%);
}

.drinkList,
.foodList {
	max-width: 100vw;
    min-width: 100vw;
}
