.digitalMenu {
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 1200px;
	margin: 0 auto;

	hr {
		width: 80%;
		margin-bottom: 2rem;
	}
}

.menu-link-container {
	width: 60%;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
}

.menu-link {
	width: 150px;
	height: 150px;
	font-size: 2rem;

	color: hsl(200, 51%, 35%);
	border: 3px solid gray;
	border-radius: 5px;
	text-decoration: none;

	display: flex;
	justify-content: center;
	align-items: center;
}

.menu-link:hover {
	color: aliceblue;
	background-color: hsl(200, 51%, 35%);
}
