.digitalMenu {
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 1200px;
	margin: 0 auto;
}

.link-container {
	width: 60%;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
}

.link {
	width: 100%;
	text-align: center;
	font-size: 3rem;
	color: hsl(200, 51%, 35%);
	border: 3px solid gray;
	border-radius: 5px;
	text-decoration: none;
}

.link:hover {
	color: aliceblue;
	background-color: hsl(200, 51%, 35%);
}

hr {
	width: 80%;
}

h1 {
	font-size: 4rem;
}
