.digitalMenu {
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 1200px;
	margin: 0 auto;
}

.menu-link-container {
	width: 60%;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
}

.menu-link {
	width: 150px;
	height: 150px;
	font-size: 2rem;

	color: hsl(200, 51%, 35%);
	border: 3px solid gray;
	border-radius: 5px;
	text-decoration: none;

	display: flex;
	justify-content: center;
	align-items: center;
}

.menu-link:hover {
	color: aliceblue;
	background-color: hsl(200, 51%, 35%);
}

hr {
	width: 80%;
	margin-bottom: 2rem;
}

.menuItems {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1.5rem;

	.listItem {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 8px;

		width: 90%;
		margin: 0 auto;

		background: transparent;
		padding: 5px 10px;
		color: #6b7a8c;
		border: none;
		box-shadow: rgba(107, 122, 140, 0.35) 0px 5px 15px;

		.listItem-header {
			display: flex;
			align-items: flex-end;
			gap: 1rem;
			width: 100%;

			.content {
				display: flex;
				justify-content: space-between;
				align-items: center;
				width: 100%;
			}

			.price {
				color: #6b7a8c;
				font-weight: 600;
				font-family: "Courier New", Courier, monospace;
			}
		}

		img {
			height: 40px;
			width: auto;
			background: #6b7a8c;
			padding: 4px;
		}

		.listItem-details {
			max-height: 1000px;
			opacity: 1;
			transition: all 1s ease;
		}

		.hidden {
			max-height: 0;
			opacity: 0 !important; // need to set !important because the expand icon has a opacity setting
		}

		.expand {
			opacity: 0.3;
		}
	}
}
