footer {
	bottom: 0;
	justify-content: center;

	.footer-element {
		flex: 1;
	}

	.nav-link-contaienr {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 2rem;
		font-size: 85%;

		.nav-link {
			display: flex;
			align-items: center;
			flex-direction: column;
			gap: 4px;
		}

		a {
			color: white;
			text-decoration: none;
		}
	}

	.beer-mat-container {
		display: flex;
		justify-content: end;

		.beer-mat {
			border: 1px solid white;
			border-radius: 10%;
			height: 40px;
			width: 40px;

			span {
				color: white;
				display: flex;
				align-items: center;
				justify-content: center;
				height: 100%;
				font-size: 11px;
			}
		}
	}
}
