header {
	display: flex;
	width: 100%;
	color: white;

	justify-content: center;
	top: 0;

	.mainLogo {
		border: 2px solid white;
		// border-radius: 50%;
		position: absolute;
		left: 1rem;
		top: 1rem;
	}

	h1 {
		justify-self: center;
	}
}
