header {
	display: flex;
	width: 100%;
	color: white;

	justify-content: center;
	top: 0;

	.hedaerTitle {
		display: flex;
		flex-direction: column;
		align-items: center;

		h1 {
			justify-self: center;
			font-variant: small-caps;
			font-weight: 100;
			font-size: 18px;
			margin: 0;
		}

		span {
			font-size: 9px;
			font-family: monospace;
		}
	}

	> div {
		max-width: 800px;
		width: 100%;
		position: relative;
		display: flex;
		justify-content: center;
	}

	.mainLogo {
		position: absolute;
		left: 1rem;
		top: 8px;
	}
}
