header {
	display: flex;
	width: 100%;
	color: white;

	justify-content: center;
	top: 0;

	.mainLogo {
		position: absolute;
		left: 1rem;
		top: 1rem;
	}

	h1 {
		justify-self: center;
		font-variant: small-caps;
		font-weight: 100;
	}
}
