.menuItems {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 0.5rem;

	.listItem {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;

		width: 90%;
		margin: 0 auto;

		background: transparent;
		padding: 5px 10px;
		color: #6b7a8c;
		border: none;
		box-shadow: rgba(107, 122, 140, 0.35) 0px 5px 15px;

		.listItem-header-container {
			h3 {
				margin: 0;
				font-size: 1rem;
			}

			.shortDescription {
				font-size: 12px;
				display: flex;
				justify-content: space-between;
			}

			display: flex;
			align-items: flex-start;
			gap: 1rem;
			width: 100%;

			.name {
				display: flex;
				justify-content: space-between;
				align-items: baseline;
			}

			.listItem-header-content {
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				width: 100%;
			}

			.price {
				color: #6b7a8c;
				font-weight: 600;
				font-family: "Courier New", Courier, monospace;
			}
		}

		.listItem-footer {
			display: flex;
		}

		img {
			width: 30px;
			height: auto;
			transition: width 100ms ease;
		}

		&.expanded {
			img {
				width: 35vw;
				max-width: 150px;
			}
		}

		.listItem-details {
			overflow: hidden;
			max-height: 1000px;
			transition: max-height 100ms ease;
			font-size: 14px;
		}

		.hidden {
			max-height: 0;
			overflow: hidden;
		}

		.expand {
			opacity: 0.3;
		}
	}
}
