.menuItems {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;

	.listItem {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;

		width: 90%;
		margin: 0 auto;
		position: relative;

		background: transparent;
		padding: 5px 10px;
		color: #6b7a8c;
		border: none;
		box-shadow: rgba(17, 17, 26, 0.0561) 0px 1px 0px;

		.listItem-header-container {
			h3 {
				margin: 0;
				font-size: 14px;
				font-family: sans-serif;
			}

			.shortDescription {
				font-size: 12px;
				display: flex;
				flex-direction: column;
				gap: 8px;

				.price {
					font-size: 1rem!important;
					justify-content: flex-end;
				}
			}

			display: flex;
			align-items: flex-start;
			gap: 1rem;
			width: 100%;

			.name {
				display: flex;
				justify-content: space-between;
				align-items: baseline;
			}

			.listItem-header-content {
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				width: 100%;
			}

			.listItem-header-prices {
				display: flex;
				flex-direction: column;

				.price {
					font-family: "Courier New", Courier, monospace;
					color: #465b6f;
					font-size: 12px;
					display: flex;
					gap: 5px;
				}
			}
		}

		.listItem-footer {
			display: flex;
		}

		.labels-container {
			margin-bottom: 8px;
		}

		img {
			width: 30px;
			height: auto;
			transition: width 100ms ease;
		}

		&.expanded {
			img {
				width: auto;
				max-width: 150px;
				max-height: 100px;
			}
		}

		.close {
			padding-top: 5px;
			opacity: .5;
		}

		.listItem-details {
			overflow: hidden;
			max-height: 1000px;
			transition: max-height 100ms ease;
			font-size: 14px;
		}

		.hidden {
			max-height: 0;
			overflow: hidden;
		}

		.expand {
			opacity: 0.13;
			position: absolute;
			right: -5px;
		}
	}

	.hidden {
		display: none;
	}
}
