.menuItems {
	display: flex;
	flex-direction: column;
	gap: 1rem;

	.listItem {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;

		width: 90%;
		margin: 0 auto;
		padding: 5px 10px;
		min-height: 40px;
		position: relative;

		cursor: pointer;
		background: transparent;
		color: #6b7a8c;
		border: none;
		box-shadow: rgba(17, 17, 26, 0.0561) 0px 1px 0px;

		.listItem-header-container {
			.istItem-header-name {
			}

			h3 {
				position: relative;
				margin: 0;
				font-size: 14px;
				font-family: sans-serif;
				width: fit-content;
			}

			.allergens {
				position: absolute;
				top: -2px;
				left: 102%;
				font-size: 9px;
				width: max-content;
				opacity: 0.65;
			}

			.shortDescription {
				color: rgba(107, 122, 140, 0.85);
				font-size: 12px;

				display: flex;
				flex-direction: column;
				gap: 8px;

				.price {
					font-size: 1rem !important;
					width: 100%;
					justify-content: space-between;
					align-items: center;

					div,
					span {
						flex: 1;
					}

					&.red {
						animation: glow-red 0.5s ease-in-out;
					}
					&.green {
						animation: glow-green 0.5s ease-in-out;
					}
				}
			}

			display: flex;
			align-items: flex-start;
			gap: 1rem;
			width: 100%;

			.name {
				display: flex;
				justify-content: space-between;
				align-items: baseline;
			}

			.listItem-header-content {
				display: flex;
				flex-direction: column;
				justify-content: space-between;

				color: #37414b;
				width: 100%;
				gap: 3px;
			}

			.listItem-header-prices {
				flex-direction: column;
				align-items: end;
				display: flex;
				width: 100%;

				.price {
					font-family: "Courier New", Courier, monospace;
					font-family: emoji;
					font-size: 12px;

					justify-content: space-between;
					display: flex;
					gap: 5px;
				}
			}
		}

		.listItem-footer {
			width: 100%;
			display: flex;
			justify-content: space-between;

			svg {
				margin: 8px 0;
				opacity: 0.5;
			}
		}

		.labels-container {
			margin-bottom: 8px;
		}

		img {
			width: 30px;
			height: auto;
			transition: width 150ms ease;
			max-height: 50px;
		}

		&.expanded {
			font-family: -apple-system, system-ui;
			img {
				width: auto;
				max-width: 150px;
				max-height: 100px;
			}
		}

		.close {
			padding-top: 5px;
			opacity: 0.5;
		}

		.listItem-details {
			overflow: hidden;
			max-height: 1000px;
			transition: max-height 100ms ease;
			font-size: 14px;
		}

		.hidden {
			max-height: 0;
			overflow: hidden;
		}

		.expand {
			opacity: 0.13;
			position: absolute;
			right: -5px;
		}
	}

	.hidden {
		display: none;
	}
}
