.newsMessage {
	display: flex;
	align-items: center;
	gap: 1rem;

	font-family: "Instrument";
	max-height: 200px;
	margin: 2rem auto;
	padding: 1rem;

	background: black;
	color: aliceblue;

	img {
		max-height: 150px;
		width: auto;
	}

	.closeX {
		align-self: flex-start;
	}
}
