.newsMessage {
	position: relative;
	font-family: "Instrument";
	margin: 2rem 8px;

	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	border-radius: 5px;
	color: var(--topo_blue);

	.container {
		display: flex;
		align-items: center;
		gap: 1rem;
		padding: 0 1rem;
	}

	h3 {
		text-align: center;
		padding: 0;
		margin: 4px 0;
	}

	img {
		max-height: 140px;
		max-height: 150px;
		width: auto;
	}

	.closeX {
		position: absolute;
		top: 2px;
		right: 2px;
	}
}
