.newsMessage {
	position: relative;
	font-family: "Instrument";

    margin: 2rem auto;
    padding: 8px 1rem;
    width: 80vw;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

    color: var(--topo_blue);
    background-color: white;
    border-radius: 16px;

	.container {
		display: flex;
		align-items: center;
		gap: 1rem;
		padding: 0 1rem;
	}

	h3 {
		text-align: center;
		padding: 0;
		margin: 4px 0;
		
		font-size: 16px;
		font-weight: 500;
		text-transform: capitalize;
	}

	img {
		max-height: 80px;
		object-fit: contain;
	}

	img {
		width: 25%;
	}

	.closeX {
		position: absolute;
		top: 10px;
		right: 10px;
		width: 20px;
		height: 20px;
		background-color: #F0F2F5;
		fill: #495358;
		border-radius: 30px;
	}
}
